<%= link_to (image_tag "banner.jpg"), welcome_path %>


<table>	
	<tr>
		<td><%= image_tag "BeerPong.png", :size => "160x160" %></td>
		<td>BeerPong <br>[Wind Down] <br />
			<p class="rules"><u>Rules:</u><br />
				&nbsp;- All 4 individuals participate<br />
				&nbsp;- Full cups on table<br />
				&nbsp;- Throw backwards double points!<br />
				&nbsp;- Time limited.  Teams with most points advance to finals.</p>
		</td>
		<td><%= image_tag "Darts.png", :size => "160x160" %></td>
		<td>Darts <br> [10:00am]<br />
			<p class="rules"><u>Rules:</u><br />
				&nbsp;- All 4 individuals participate<br />
				&nbsp;- 3 throws per person<br />
				&nbsp;- Throw backwards double points!<br />
				&nbsp;- Team with highest points wins</p>
			</td>
	
	</tr>
	<tr>
		<td><%= image_tag "CornHole.png", :size => "160x160" %></td>
		<td>Cornhole <br>[12:30pm]<br />
			<p class="rules"><u>Rules:</u><br />
				&nbsp;- All 4 individuals participate<br />
				&nbsp;- 3 throws per person<br />
				&nbsp;- Throw backwards double points!<br />
				&nbsp;- Team with highest points wins</p>
			</td>
		<td><%= image_tag "DanceOff.png", :size => "160x160" %></td>
		<td>DanceOff <br>[Wind Down]<br />
			<p class="rules"><u>Rules:</u><br />
				&nbsp;- Championship battle for Gold!<br />
				&nbsp;- 3 individuals participate<br />
				&nbsp;- Using Xbox Kinect dance to gain max points<br />
				&nbsp;- Ranking of teams by points</p>
			</td>
	</tr>
	<tr>
		<td colspan="4"><br />Event winning teams will compete for Gold/Silver/Bronze in Dance Off</td>	
	</tr>
</table>