<%= image_tag "banner.jpg" %><br />

<table>	
	<tr>
		<td><%= image_tag "BeerPong.png", :size => "180x180" %></td>
		<td>BeerPong</td>
		<td><%= image_tag "Darts.png", :size => "180x180" %></td>
		<td>Darts</td>
	
	</tr>
	<tr>
		<td><%= image_tag "CornHole.png", :size => "180x180" %></td>
		<td>Cornhole</td>
		<td><%= image_tag "DanceOff.png", :size => "180x180" %></td>
		<td>Dance Off</td>
	</tr>
	<tr>
		<td colspan="4"><br />Event winning teams will compete for Gold/Silver/Bronze in Dance Off</td>	
	</tr>
</table>