<%= image_tag "banner.jpg" %><br />

<table>	
	<tr>
		<td><%= image_tag "Bernie.jpg", :size => "80x80" %></td>
		<td>Bernie</td>
		<td><%= image_tag "Bryan.jpg", :size => "80x80" %></td>
		<td>Bryan</td>
		<td><%= image_tag "Charlie.jpg", :size => "80x80" %></td>
		<td>Charlie</td>
		<td><%= image_tag "Chris.jpg", :size => "80x80" %></td>
		<td>Chris</td>
	</tr>
	<tr>
		<td><%= image_tag "Christina.jpg", :size => "80x80" %></td>
		<td>Christina</td>
		<td><%= image_tag "Cynthia.jpg", :size => "80x80" %></td>
		<td>Cynthia</td>
		<td><%= image_tag "Ellen.jpg", :size => "80x80" %></td>
		<td>Ellen</td>
		<td><%= image_tag "Erantzeri.jpg", :size => "80x80" %></td>
		<td>Erantzeri</td>	
	</tr>
	<tr>		
		<td><%= image_tag "Estee.jpg", :size => "80x80" %></td>
		<td>Estee</td>
		<td><%= image_tag "Georgette.jpg", :size => "80x80" %></td>
		<td>Georgette</td>
		<td><%= image_tag "Grady.jpg", :size => "80x80" %></td>
		<td>Grady</td>
		<td><%= image_tag "Jeff.jpg", :size => "80x80" %></td>
		<td>Jeff</td>
	</tr>
	<tr>
		<td><%= image_tag "Kirk.jpg", :size => "80x80" %></td>
		<td>Kirk</td>
		<td><%= image_tag "Michelle.jpg", :size => "80x80" %></td>
		<td>Michelle</td>
		<td><%= image_tag "Monte.jpg", :size => "80x80" %></td>
		<td>Monte</td>
		<td><%= image_tag "Ona.jpg", :size => "80x80" %></td>
		<td>Ona</td>		
	</tr>
	<tr>
		<td><%= image_tag "Piper.jpg", :size => "80x80" %></td>
		<td>Piper</td>		
		<td><%= image_tag "Roberto.jpg", :size => "80x80" %></td>
		<td>Roberto</td>
		<td><%= image_tag "Russ.jpg", :size => "80x80" %></td>
		<td>Russ</td>
		<td></td>
		<td></td>	
	</tr>
	
</table>